//  <========== HEADER ==========>
.headerDark {
	padding: 0.5rem 0;
	background-color: $basePureBlack;

	nav {
		padding: 0 1rem;
		align-items: center;

		.bottomSection {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.navTitle {
				a,
				h2 {
					margin: 0 auto;
					color: $baseLightGrey3;
					font-size: $fontSize_medium;
					font-family: $fontStyle_header;
				}
				a:hover,
				h2:hover {
					color: $secondary_Yellow;
				}
			}

			.navLinks {
				padding: 0rem;
				margin: 0 auto;
				display: flex;
				justify-content: space-between;

				a {
					padding: 0px 10px;
					margin: 0 auto;
					text-decoration: none;
					color: $baseLightGrey3;
					font-size: $fontSize_normal;
					font-family: $fontStyle_option2;
				}

				a:hover {
					color: $secondary_Yellow;
				}
			}

			.navCheckout {
				a {
					padding: 10px;
					color: $baseLightGrey3;
					font-size: $fontSize_normal;
					font-family: $fontStyle_header;
				}

				a:hover {
					color: $secondary_Yellow;
				}
			}
		}
	}
}
