/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

// Font Stack Properties
$fontStyle_header: "Poppins", sans-serif;
$fontStyle_body: "Poppins", sans-serif;

// Font Sizes
$fontSize_xSmall: 0.8rem;
$fontSize_small: 0.9rem;
$fontSize_normal: 1rem;
$fontSize_medium: 1.25rem;
$fontSize_large: 1.125rem;
$fontSize_XL: 1.25rem;
$fontSize_2XL: 1.5rem;
$fontSize_3XL: 1.875rem;
$fontSize_4XL: 2.25rem;
$fontSize_5XL: 3rem;
$fontSize_6XL: 4rem;
$fontSize_7XL: 5rem;
