// Imports
@import "./fonts";
@import "./colors";

.container {
	padding: 0;
}

//  <========== HEADER ==========>
.header {
	padding: 0.5rem 0;

	nav {
		padding: 0 1rem;
		align-items: center;

		.topSection {
			display: flex;
			justify-content: space-between;

			.leftSide,
			.rightSide {
				display: flex;

				.borderDiv {
					margin: auto 0.15rem;
					height: 1.25rem;
					border-right: $baseLightGrey2 0.1rem solid;
				}

				a {
					padding: 10px;
					text-decoration: none;
					font-size: $fontSize_xSmall;
					color: $baseLightGrey3;
					font-family: $fontStyle_header;
				}

				a:hover {
					color: $baseBlack;
				}
			}
		}

		.bottomSection {
			display: flex;
			align-items: center;
			justify-content: space-between;

			.navTitle {
				a,
				h2 {
					margin: 0 auto;
					color: $baseBlack;
					font-size: $fontSize_large;
					font-family: $fontStyle_header;
				}

				a:hover,
				h2:hover {
					color: $secondary_Yellow;
				}
			}

			.navLinks {
				padding: 0rem;
				margin: 0 auto;
				display: flex;
				justify-content: space-between;

				li {
					list-style: none;

					a {
						padding: 0px 10px;
						margin: 0 auto;
						text-decoration: none;
						color: $baseBlack;
						font-size: $fontSize_large;
						font-family: $fontStyle_header;
					}

					a:hover {
						color: $baseLightGrey3;
					}
				}

				a {
					padding: 0px 10px;
					margin: 0 auto;
					text-decoration: none;
					color: $baseBlack;
					font-size: $fontSize_small;
					font-family: $fontStyle_header;
				}

				a:hover {
					color: $baseLightGrey3;
				}

				.OneTime {
					color: $secondary_Yellow;
				}
			}

			.navCheckout {
				a {
					padding: 10px;
					color: $baseBlack;
					font-size: $fontSize_normal;
					font-family: $fontStyle_header;
				}

				a:hover {
					color: $baseLightGrey3;
				}
			}
		}
	}

	.borderLineMid {
		margin: 0.1rem 0;
		border-bottom: $baseLightGrey2 0.1rem solid;
	}
}

// <========== FOOTER ==========>
.footer {
	a {
		font-size: $fontSize_xSmall;
		font-family: $fontStyle_body;
	}

	h2 {
		// font-weight: 100;
		font-size: large;
		font-size: $fontSize_xSmall;
		font-family: $fontStyle_body;
	}

	ul {
		li {
			a {
				padding: 0.2rem 0;
				font-size: $fontSize_xSmall;
			}
		}
	}

	.contentBottom {
		h4,
		a {
			font-size: $fontSize_xSmall;
		}
	}

	.borderlineMid {
		margin: 0.75rem 0;
		padding: 0.5px;
		background-color: $baseLightGrey2;
	}
}
